<nav class="navbar navbar-dark bg-primary navbar-expand-md">
    <a class="corbeau"><img class="img-fluid" style="max-height:40px;" src="https://svgsilh.com/svg/147530-ff9800.svg" alt="#" /> Corbeau</a> 
    <a class="navbar-brand ml-5" href="#"> Plats</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Recettes</a>
            </li>
        </ul>
    </div>
</nav>